<!DOCTYPE html>
<html>
    <style>
    body {
        margin: 0 auto;
        max-width: 800px;
    }
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        width: 800px;
    }

    .grid-item {
        text-align: center;
        font-size: 10px;
    }

    .grid-item img {
        width: 200px;
    }
    #save-good {
        background-color: #89ffc0;
        font-size: 14px;
        text-align: center;
    }
    #save-bad-tl {
        background-color: #ff898d;
        font-size: 12px;
        text-align: center;
    }
    #save-bad-tr {
        background-color: #ff898d;
        font-size: 12px;
        text-align: center;
    }
    #save-bad-bl {
        background-color: #ff898d;
        font-size: 12px;
        text-align: center;
    }
    #save-bad-br {
        background-color: #ff898d;
        font-size: 12px;
        text-align: center;
    }
    .forbackward {
        background-color: #fcfcfc;
        font-size: 12px;
        text-align: center;
    }
    #myTable {
        border-collapse: collapse;
    }
    #myTable th, #myTable td {
        border: 1px solid black;
        padding: 8px;
    }
    #rightCell {
        text-align: center;
    }
</style>

    <head>
        <title>Flask Web Page</title>
        <script>
        function updateStyle() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style");
            var selectedOption = style.value;

            style.innerHTML = "";

            if (gender === "male") {
                var option1 = document.createElement("option");
                option1.text = "Спортивный";
                option1.value = "sport";
                if (selectedOption === "sport") {
                    option1.selected = true;
                }
                style.add(option1);

                var option2 = document.createElement("option");
                option2.text = "Повседневный";
                option2.value = "casual";
                if (selectedOption === "casual") {
                    option2.selected = true;
                }
                style.add(option2);

                var option3 = document.createElement("option");
                option3.text = "Классический";
                option3.value = "classic";
                if (selectedOption === "classic") {
                    option3.selected = true;
                }
                style.add(option3);

                var option4 = document.createElement("option");
                option4.text = "Уличный";
                option4.value = "streetwear";
                if (selectedOption === "streetwear") {
                    option4.selected = true;
                }
                style.add(option4);
            } else if (gender === "female") {
                var option5 = document.createElement("option");
                option5.text = "Спортивный";
                option5.value = "sport";
                if (selectedOption === "sport") {
                    option5.selected = true;
                }
                style.add(option5);

                var option6 = document.createElement("option");
                option6.text = "Классический (без платьев)";
                option6.value = "classic_no_dress";
                if (selectedOption === "classic_no_dress") {
                    option6.selected = true;
                }
                style.add(option6);

                var option7 = document.createElement("option");
                option7.text = "Классический (с платьями)";
                option7.value = "classic_dress";
                if (selectedOption === "classic_dress") {
                    option7.selected = true;
                }
                style.add(option7);

                var option8 = document.createElement("option");
                option8.text = "Повседневный (с платьями)";
                option8.value = "casual_dress";
                if (selectedOption === "casual_dress") {
                    option8.selected = true;
                }
                style.add(option8);

                var option9 = document.createElement("option");
                option9.text = "Повседневный (без платьев)";
                option9.value = "casual_no_dress";
                if (selectedOption === "casual_no_dress") {
                    option9.selected = true;
                }
                style.add(option9);

                var option10 = document.createElement("option");
                option10.text = "Уличный";
                option10.value = "streetwear";
                if (selectedOption === "streetwear") {
                    option10.selected = true;
                }
                style.add(option10);

                var option11 = document.createElement("option");
                option11.text = "Пляжный";
                option11.value = "resort";
                if (selectedOption === "resort") {
                    option11.selected = true;
                }
                style.add(option11);

                var option12 = document.createElement("option");
                option12.text = "Авангардный";
                option12.value = "avantgarde";
                if (selectedOption === "avantgarde") {
                    option12.selected = true;
                }
                style.add(option12);

                var option13 = document.createElement("option");
                option13.text = "Бохо";
                option13.value = "boho";
                if (selectedOption === "boho") {
                    option13.selected = true;
                }
                style.add(option13);

                var option14 = document.createElement("option");
                option14.text = "Sustainable";
                option14.value = "sustainable";
                if (selectedOption === "sustainable") {
                    option14.selected = true;
                }
                style.add(option14);
            }
        }
    </script>
    </head>

    <body>
        <br>
        <form action="/" method="POST">
            <label for="gender">Пол:</label>
            <select name="gender" id="gender" onchange="updateStyle()">
                <option value="male" {% if gender=='male' %}selected{% endif
                    %}>Мужской</option>
                <option value="female" {% if gender=='female' %}selected{% endif
                    %}>Женский</option>
            </select>
            <label for="style">Стиль:</label>
            <select name="style" id="style">
                {% if style %}
                {% if gender == 'male' %}
                <option value="classic" {% if style=='classic'
                    %}selected{%
                    endif %}>Классический</option>
                <option value="sport" {% if style=='sport' %}selected{%
                    endif %}>Спортивный</option>
                <option value="casual" {% if style=='casual'
                    %}selected{%
                    endif %}>Повседневный</option>
                <option value="streetwear" {% if style=='streetwear'
                    %}selected{%
                    endif %}>Уличный</option>
                {% elif gender == 'female' %}
                <option value="classic_dress" {% if style=='classic_dress'
                    %}selected{%
                    endif %}>Классический (с платьями)</option>
                <option value="classic_no_dress" {% if style=='classic_no_dress'
                    %}selected{%
                    endif %}>Классический (без платьев)</option>
                <option value="casual_dress" {% if style=='casual_dress'
                    %}selected{%
                    endif %}>Повседневный (с платьями)</option>
                <option value="casual_no_dress" {% if style=='casual_no_dress'
                    %}selected{%
                    endif %}>Повседневный (без платьев)</option>
                <option value="streetwear" {% if style=='streetwear'
                    %}selected{%
                    endif %}>Уличный</option>
                <option value="resort" {% if style=='resort'
                    %}selected{%
                    endif %}>Пляжный</option>
                <option value="avantgarde" {% if style=='avantgarde'
                    %}selected{%
                    endif %}>Авангардный</option>
                <option value="boho" {% if style=='boho'
                    %}selected{%
                    endif %}>Бохо</option>
                <option value="sustainable" {% if style=='sustainable'
                    %}selected{%
                    endif %}>Sustainable</option>
                <option value="sport" {% if style=='sport' %}selected{%
                    endif %}>Спортивный</option>
                {% endif %}
                {% endif %}
            </select>
            <input type="submit" value="Создать образ">
        </form>
        <h1>{{ru_name}}</h1>
        <div class="grid-container">
            <div class="grid-item">
                <table>
                    <tr>
                        <td>
                            <img src="{{ tl_url }}" alt="Image">
                        </td>
                        <td>
                            <img src="{{ tr_url }}" alt="Image">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button
                                onclick="previousImage_tl()"
                                class="forbackward">Назад</button>
                            <button onclick="nextImage_tl()"
                                class="forbackward">Вперед</button>
                            <button id="save-bad-tl"> Ужас </button>
                        </td>
                        <td>
                            <button
                                onclick="previousImage_tr()"
                                class="forbackward">Назад</button>
                            <button onclick="nextImage_tr()"
                                class="forbackward">Вперед</button>
                            <button id="save-bad-tr"> Ужас </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="{{ bl_url }}" alt="Image">
                        </td>
                        <td>
                            <img src="{{ br_url }}" alt="Image">
                        </td>
                        <tr>
                            <td>
                                <button
                                    onclick="previousImage_bl()"
                                    class="forbackward">Назад</button>
                                <button onclick="nextImage_bl()"
                                    class="forbackward">Вперед</button>
                                <button id="save-bad-bl"> Ужас </button>
                            </td>
                            <td>
                                <button
                                    onclick="previousImage_br()"
                                    class="forbackward">Назад</button>
                                <button onclick="nextImage_br()"
                                    class="forbackward">Вперед</button>
                                <button id="save-bad-br"> Ужас </button>
                            </td>
                        </tr>
                    </tr>
                </table>
                <script>
                function saveBadTL() {
                    var data = {
                        table_json: '{{ table_json }}'
                    };
                    var jsonData = JSON.stringify(data);
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/save-bad-tl", true);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            console.log("JSON data saved on the server");
                            document.getElementById("save-bad-tl").innerText = "Записано!";
                        }
                    };
                    xhr.send(jsonData);
                }
                function saveBadTR() {
                    var data = {
                        table_json: '{{ table_json }}'
                    };
                    var jsonData = JSON.stringify(data);
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/save-bad-tr", true);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            console.log("JSON data saved on the server");
                            document.getElementById("save-bad-tr").innerText = "Записано!";
                        }
                    };
                    xhr.send(jsonData);
                }
                function saveBadBL() {
                    var data = {
                        table_json: '{{ table_json }}'
                    };
                    var jsonData = JSON.stringify(data);
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/save-bad-bl", true);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            console.log("JSON data saved on the server");
                            document.getElementById("save-bad-bl").innerText = "Записано!";
                        }
                    };
                    xhr.send(jsonData);
                }
                function saveBadBR() {
                    var data = {
                        table_json: '{{ table_json }}'
                    };
                    var jsonData = JSON.stringify(data);
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/save-bad-br", true);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            console.log("JSON data saved on the server");
                            document.getElementById("save-bad-br").innerText = "Записано!";
                        }
                    };
                    xhr.send(jsonData);
                }
                document.getElementById("save-bad-tl").addEventListener("click", saveBadTL);
                document.getElementById("save-bad-tr").addEventListener("click", saveBadTR);
                document.getElementById("save-bad-bl").addEventListener("click", saveBadBL);
                document.getElementById("save-bad-br").addEventListener("click", saveBadBR);
            </script>
            </div>
        </div>
        <br>
        <div>
            <button id="save-good"> Хорошая подборка </button>
            <script>
        function saveGoodLook() {
            var data = {
                table_json: '{{ table_json }}'
            };
            var jsonData = JSON.stringify(data);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/save-good-look", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log("JSON data saved on the server");
                    document.getElementById("save-good").innerText = "Ваш отзыв записан!";
                }
            };
            xhr.send(jsonData);
        }
        // Attach the saveGoodLook function to the button click event
        document.getElementById("save-good").addEventListener("click", saveGoodLook);
    </script>
        </div>
        <h1>Товары образа</h1>
        {{ look_table|safe }}
        <h1>Параметры стиля {{ru_name}}</h1>
        <pre>{{ category_tree }}</pre>
        <script>
        function previousImage_tl() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style").value;
            var tl_i = {{ tl_i - 1 }};
            var tr_i = {{ tr_i }};
            var bl_i = {{ bl_i }};
            var br_i = {{ br_i }};
        window.location.href = "/?tl_i=" + tl_i + "&tr_i=" + tr_i + "&bl_i=" + bl_i + "&br_i=" + br_i + "&gender=" + gender + "&style=" + style;
}

        function nextImage_tl() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style").value;
            var tl_i = {{ tl_i + 1}};
            var tr_i = {{ tr_i }};
            var bl_i = {{ bl_i }};
            var br_i = {{ br_i }};
        window.location.href = "/?tl_i=" + tl_i + "&tr_i=" + tr_i + "&bl_i=" + bl_i + "&br_i=" + br_i + "&gender=" + gender + "&style=" + style;
}
        function previousImage_tr() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style").value;
            var tl_i = {{ tl_i }};
            var tr_i = {{ tr_i-1}};
            var bl_i = {{ bl_i }};
            var br_i = {{ br_i }};
        window.location.href = "/?tl_i=" + tl_i + "&tr_i=" + tr_i + "&bl_i=" + bl_i + "&br_i=" + br_i + "&gender=" + gender + "&style=" + style;
}

        function nextImage_tr() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style").value;
            var tl_i = {{ tl_i }};
            var tr_i = {{ tr_i+1 }};
            var bl_i = {{ bl_i }};
            var br_i = {{ br_i }};
        window.location.href = "/?tl_i=" + tl_i + "&tr_i=" + tr_i + "&bl_i=" + bl_i + "&br_i=" + br_i + "&gender=" + gender + "&style=" + style;
}


        function previousImage_bl() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style").value;
            var tl_i = {{ tl_i }};
            var tr_i = {{ tr_i }};
            var bl_i = {{ bl_i - 1 }};
            var br_i = {{ br_i }};
        window.location.href = "/?tl_i=" + tl_i + "&tr_i=" + tr_i + "&bl_i=" + bl_i + "&br_i=" + br_i + "&gender=" + gender + "&style=" + style;
}

        function nextImage_bl() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style").value;
            var tl_i = {{ tl_i }};
            var tr_i = {{ tr_i }};
            var bl_i = {{ bl_i + 1}};
            var br_i = {{ br_i }};
        window.location.href = "/?tl_i=" + tl_i + "&tr_i=" + tr_i + "&bl_i=" + bl_i + "&br_i=" + br_i + "&gender=" + gender + "&style=" + style;
}
        function previousImage_br() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style").value;
            var tl_i = {{ tl_i }};
            var tr_i = {{ tr_i }};
            var bl_i = {{ bl_i }};
            var br_i = {{ br_i - 1}};
        window.location.href = "/?tl_i=" + tl_i + "&tr_i=" + tr_i + "&bl_i=" + bl_i + "&br_i=" + br_i + "&gender=" + gender + "&style=" + style;
}

        function nextImage_br() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style").value;
            var tl_i = {{ tl_i }};
            var tr_i = {{ tr_i }};
            var bl_i = {{ bl_i }};
            var br_i = {{ br_i + 1}};
        window.location.href = "/?tl_i=" + tl_i + "&tr_i=" + tr_i + "&bl_i=" + bl_i + "&br_i=" + br_i + "&gender=" + gender + "&style=" + style;
}
    </script>
    </body>
    <table id="myTable">
        <tr>
            <td>
                <pre>{{ category_tree }}</pre>
            </td>
            <td id="rightCell">
                <pre>{{ style_colors }}</pre>
            </td>
        </tr>
    </table>
</html>