<!DOCTYPE html>
<html>
    <style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        width: 800px;
        /* Set the desired width */
        /* margin: 0 auto; Center the container horizontally */
    }

    .grid-item {
        text-align: center;
        font-size: 10px;
    }

    .grid-item img {
        width: 200px;
        /* height: auto; */
    }
</style>

    <head>
        <title>Flask Web Page</title>
        <script>
        function updateStyle() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style");
            var selectedOption = style.value;

            style.innerHTML = "";

            if (gender === "male") {
                var option1 = document.createElement("option");
                option1.text = "Спортивный";
                option1.value = "sport";
                if (selectedOption === "sport") {
                    option1.selected = true;
                }
                style.add(option1);

                var option2 = document.createElement("option");
                option2.text = "Casual";
                option2.value = "casual";
                if (selectedOption === "casual") {
                    option2.selected = true;
                }
                style.add(option2);
            } else if (gender === "female") {
                var option3 = document.createElement("option");
                option3.text = "Спортивный";
                option3.value = "sport";
                if (selectedOption === "sport") {
                    option3.selected = true;
                }
                style.add(option3);

                var option4 = document.createElement("option");
                option4.text = "Классический (без платьев)";
                option4.value = "classic_no_dress";
                if (selectedOption === "classic_no_dress") {
                    option4.selected = true;
                }
                style.add(option4);
            }
        }
    </script>
    </head>

    <body>
        <form action="/" method="POST">
            <label for="gender">Пол:</label>
            <select name="gender" id="gender" onchange="updateStyle()">
                <option value="male" {% if gender=='male' %}selected{% endif
                    %}>Male</option>
                <option value="female" {% if gender=='female' %}selected{% endif
                    %}>Female</option>
            </select>
            <br><br>
            <label for="style">Стиль:</label>
            <select name="style" id="style">
                {% if style %}
                {% if gender == 'male' %}
                <option value="sport" {% if style=='sport' %}selected{%
                    endif %}>Спортивный</option>
                <option value="casual" {% if style=='casual'
                    %}selected{%
                    endif %}>Casual</option>
                {% elif gender == 'female' %}
                <option value="sport" {% if style=='sport' %}selected{%
                    endif %}>Спортивный</option>
                <option value="classic_no_dress" {% if style=='classic_no_dress'
                    %}selected{%
                    endif %}>Классический (без платьев)</option>
                {% endif %}
                {% endif %}
            </select>
            <br><br>
            <input type="submit" value="Submit">
        </form>
        <br><br>
        <div class="grid-container">
            <div class="grid-item">
                <table>
                    <tr>
                        <td>
                            <img src="{{ tl_url }}" alt="Image">
                        </td>
                        <td>
                            <img src="{{ tr_url }}" alt="Image">
                        </td>
                        <tr>
                            <td>
                                <button onclick="previousImage_tl()">Previous
                                    Image</button>
                                <button onclick="nextImage_tl()">Next
                                    Image</button>
                            </td>
                            <td>
                                <button onclick="previousImage_tr()">Previous
                                    Image</button>
                                <button onclick="nextImage_tr()">Next
                                    Image</button>
                            </td>
                        </tr>
                    </tr>
                    <tr>
                        <td>
                            <img src="{{ bl_url }}" alt="Image">
                        </td>
                        <td>
                            <img src="{{ br_url }}" alt="Image">
                        </td>
                        <tr>
                            <td>
                                <button onclick="previousImage_bl()">Previous
                                    Image</button>
                                <button onclick="nextImage_bl()">Next
                                    Image</button>
                            </td>
                            <td>
                                <button onclick="previousImage_br()">Previous
                                    Image</button>
                                <button onclick="nextImage_br()">Next
                                    Image</button>
                            </td>
                        </tr>
                    </tr>
                </table>
            </div>
        </div>
        <script>
        function previousImage_tl() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style").value;
            var tl_i = {{ tl_i - 1 }};
            var tr_i = {{ tr_i }};
            var bl_i = {{ bl_i }};
            var br_i = {{ br_i }};
        window.location.href = "/?tl_i=" + tl_i + "&tr_i=" + tr_i + "&bl_i=" + bl_i + "&br_i=" + br_i + "&gender=" + gender + "&style=" + style;
}

        function nextImage_tl() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style").value;
            var tl_i = {{ tl_i + 1}};
            var tr_i = {{ tr_i }};
            var bl_i = {{ bl_i }};
            var br_i = {{ br_i }};
        window.location.href = "/?tl_i=" + tl_i + "&tr_i=" + tr_i + "&bl_i=" + bl_i + "&br_i=" + br_i + "&gender=" + gender + "&style=" + style;
}
        function previousImage_tr() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style").value;
            var tl_i = {{ tl_i }};
            var tr_i = {{ tr_i-1}};
            var bl_i = {{ bl_i }};
            var br_i = {{ br_i }};
        window.location.href = "/?tl_i=" + tl_i + "&tr_i=" + tr_i + "&bl_i=" + bl_i + "&br_i=" + br_i + "&gender=" + gender + "&style=" + style;
}

        function nextImage_tr() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style").value;
            var tl_i = {{ tl_i }};
            var tr_i = {{ tr_i+1 }};
            var bl_i = {{ bl_i }};
            var br_i = {{ br_i }};
        window.location.href = "/?tl_i=" + tl_i + "&tr_i=" + tr_i + "&bl_i=" + bl_i + "&br_i=" + br_i + "&gender=" + gender + "&style=" + style;
}


        function previousImage_bl() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style").value;
            var tl_i = {{ tl_i }};
            var tr_i = {{ tr_i }};
            var bl_i = {{ bl_i - 1 }};
            var br_i = {{ br_i }};
        window.location.href = "/?tl_i=" + tl_i + "&tr_i=" + tr_i + "&bl_i=" + bl_i + "&br_i=" + br_i + "&gender=" + gender + "&style=" + style;
}

        function nextImage_bl() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style").value;
            var tl_i = {{ tl_i }};
            var tr_i = {{ tr_i }};
            var bl_i = {{ bl_i + 1}};
            var br_i = {{ br_i }};
        window.location.href = "/?tl_i=" + tl_i + "&tr_i=" + tr_i + "&bl_i=" + bl_i + "&br_i=" + br_i + "&gender=" + gender + "&style=" + style;
}
        function previousImage_br() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style").value;
            var tl_i = {{ tl_i }};
            var tr_i = {{ tr_i }};
            var bl_i = {{ bl_i }};
            var br_i = {{ br_i - 1}};
        window.location.href = "/?tl_i=" + tl_i + "&tr_i=" + tr_i + "&bl_i=" + bl_i + "&br_i=" + br_i + "&gender=" + gender + "&style=" + style;
}

        function nextImage_br() {
            var gender = document.getElementById("gender").value;
            var style = document.getElementById("style").value;
            var tl_i = {{ tl_i }};
            var tr_i = {{ tr_i }};
            var bl_i = {{ bl_i }};
            var br_i = {{ br_i + 1}};
        window.location.href = "/?tl_i=" + tl_i + "&tr_i=" + tr_i + "&bl_i=" + bl_i + "&br_i=" + br_i + "&gender=" + gender + "&style=" + style;
}
    </script>
    </body>

</html>